{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <title>Web Nutri</title>
</head>
<body>

    <div class="head">
        <div class="logo">
            <a href="#">Logo</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Comunidad</a>
            <a href="#">Recetas</a>
            <a href="#">Contacto</a>
        </nav>
    </div>

    <header class="content header" style="background-image: url('{% static 'img/Nutri.jpg' %}')">

        <h2 class="title">Inicio</h2>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque mollitia natus id porro dolore reiciendis odit ab quae! Voluptatem quisquam, explicabo ad aspernatur debitis
            distinctio! Cum ipsa porro optio similique.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
           
        </div> 
    </header>

    <section class="content sau">
        <h2 class="title"> Comunidad </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ut mollitia soluta porro velit sed molestiae! Veniam unde debitis ab. Harum assumenda 
            modi porro illum a vero dolores quidem odit!
        </p>

        <div class="box-container">
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>illum a vero dolores quidem odit!</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>Lorem</h3>
                <p>illum a vero dolores quidem odit!</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>Lorem</h3>
                <p>illum a vero dolores quidem odit!</p>
            </div>
        </div>
    </section>

    <section class="content about" style="background-image: url('{% static 'img/Receta.jpg' %}'); background-repeat: no-repeat; 
        background-attachment: fixed; background-size: cover; text-align: 
          center; display: flex; justify-content: center; align-items: 
            center; height: 50vh !important; background-position: center;">
        <h2 class="title">Recetas</h2>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis ducimus,
             libero blanditiis voluptates molestias autem ab ratione, 
            culpa possimus officia eius laudantium modi atque. Alias sit esse voluptatem deleniti delectus!</p>
        
        <a href="#" class="btn">Saber mas</a>
        
    </section>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>Contactanos y siguenos en nuestras redes</p>
        <figure class="nose">
            <img src="{% static 'img/salud.jpg' %}" height="450px" width="100%" alt="nose">
        </figure>
    </section>

</body>
</html>
