{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta htpp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

    <link rel="stylesheet" href="style.css">


    <title>Web Nutri</title>
</head>
<body>

    <div class="head">
        <div class="logo">
            <a href="{% url 'main:index' %}">WEB NUTRI</a>
        </div>

        <nav class="navbar">
            <a href="{% url 'main:index' %}">Inicio</a>
            <a href="{% url 'main:Comunidad' %}">Comunidad</a>
            
        </nav>
    </div>

    <header class="content header" style="background-image: url('{% static 'img/Haze Nutri2.jpg' %}'); background-size: cover; background-position: center 30%;">

        <h2 class="title">Inicio</h2>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p> 
            La nutrición es el proceso biológico que ocurre en un ser vivo cuando su organismo absorbe, de los alimentos y líquidos, los nutrientes que necesita para su crecimiento y el desarrollo de las funciones vitales. 
            A través de la alimentación, el organismo incorpora hidratos de carbono, vitaminas, minerales, proteínas y grasas.
        </p>
           
        </div> 
    </header>
    <section class="content sau" style="height: 50vh;">
        <h2 class="title"> Comunidad </h2>
        <div class="box-container">
            <div class="box">
                <img src="{% static 'img/fresa.png' %}" alt="Descripción imagen 1">
                <h3>Frutas</h3>
                <p>Come tus frutas, son ricas en vitaminas</p>
            </div>
            <div class="box">
                <img src="{% static 'img/pizza3.jpg' %}" alt="Descripción imagen 2">
                <h3>Pizza</h3>
                <p>Evita los alimentos altos en grasa</p>
            </div>
            <div class="box">
                <img src="{% static 'img/verde.jpeg' %}" alt="Descripción imagen 3">
                <h3>Ensaladas</h3>
                <p>Prepara y come tus ensaladas</p>
            </div>
        </div>
    </section>

    <section class="content about" style="background-image: url('{% static 'img/Haze nutri.jpg' %}'); background-repeat: no-repeat; 
    background-attachment: fixed; background-size: cover; text-align: 
      center; display: flex; justify-content: center; align-items: 
        center; height: 125vh !important; background-position: center;">
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <h2 class="title">Recetas</h2>
    <p>ENSALADA CON NARANAJA, QUESO Y PISTACHOS
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Empezamos con unas ensaladas para seguir con cremas, platos para mejorar la salud con huevos, pasta,
         carne, verduras y pescados. 
        ¡Ah! Y nos olvidamos de los postres. Esta ensalada con naranja,
         queso de cabra y pistachos,
         estos aportan vitamina, minerales y proteínas. Si no tienes, 
         sustitúyelos por otro fruto seco.</p>
    
    <p> CARPACCIO DE PEPINO CON SARDINAS
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Una receta que mejora la salud y te cuida porque el pepino aporta fibra, 
        vitaminas del grupo B, C, E y A y contiene importantes minerales
         como el hierro, el calcio, el fósforo, el magnesio y el potasio.</p>

    <p> Anota esto: las zanahorias son ricas en vitaminas (C, E, B3, B6, B1, B2);
         carotenos, retinol y ácido fólico. 
        ¿Te parece preparar una crema con ellas? Ojo, 
        aunque sea de verduras, esta receta es alta en grasas.</p>
    
        <iframe width="640" height="360" src="{% static 'VID/Web Nutri vid.mp4' %}" frameborder="0" allowfullscreen></iframe>

    <a href="https://www.elmueble.com/cocinas/16-recetas-que-mejoran-tu-salud-y-te-cuidan_45045" class="btn">SABER MAS</a>

</section>

    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
   

    <section class="content contact" style="position: relative; text-align: center; color: black; height: 70vh;">
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2 class="title">Contacto</h2>

        <p>Contactanos y síguenos en nuestras redes</p>
        <div class="social-icons">
            <a href="https://twitter.com/Joel09X/media?t=oRfLEfgXZjpqSh6HLP57Aw&s=09" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="tel:65266683" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
        </div>
        <figure class="background-image" style="position: relative; overflow: hidden; width: 100%;">
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'img/mesa.jpg' %}" style="width: 100%; height: 100%; display: block;" alt="nose">

        <figure class="background-image" style="position: relative; overflow: hidden; width: 400px; margin: auto;">
            <img src="{% static 'img/Receta.jpg' %}" style="width: 100%; height: auto; display: block;" alt="nose">
        </figure>
    </section>
</body>

</html>
